@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  transition: all 0.2s linear;
  text-decoration: none;
}
body,
html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  font-weight: normal;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
:root {
  --content-color: #f7cf6838;
  --first-color: #2b1055;
  --second-color: #7597de;
  --bgc-color: #ffd6d6;
  --btn-color: #ff523b;
  --text-color: #555;
  --primary-color: #edf2fc;
  --secondary-color: #212112;
}
.dark-theme {
  background-color: #d5b4b4;
  --text-color: #000;
  --btn-color: #ce7777;
  --content-color: #ffd6d6;
}
/* Header */
#header {
  background: radial-gradient(#fff, #ffd6d6);
}
#header .row {
  margin-top: 7rem;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 5rem;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.navbar__list {
  flex: 1;
  text-align: right;
}
.navbar__list ul {
  display: inline-block;
}
.navbar__list li {
  display: inline-block;
  margin-right: 2rem;
  position: relative;
}
.navbar__list li:hover .sub-navbar {
  opacity: 1;
  visibility: visible;
}
.sub-navbar {
  position: absolute;
  background-color: #fafafaa8;
  top: calc(100% + 12px);
  left: 0;
  width: 20rem;
  z-index: 1;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
.navbar__list .sub-navbar li {
  display: block;
  margin-right: 0;
}
.navbar__list .sub-navbar .sub-navbar__item {
  display: inline-block;
  font-size: 1.4rem;
  padding: 8px 16px;
  color: var(--text-color);
  width: 100%;
  text-align: left;
}
.navbar__list .sub-navbar .sub-navbar__item:hover {
  color: #f4a;
}
.navbar__item {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 8px 16px;
  position: relative;
}
.navbar__item::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.navbar__item:hover::before {
  width: 100%;
}
.navbar__item:hover {
  font-weight: bold;
}
.navbar__logo-img {
  width: 200px;
}
.navbar__mode {
  position: relative;
  top: 1px;
}
.navbar__mode--icon {
  font-size: 2.2rem;
  cursor: pointer;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row h1 {
  text-transform: capitalize;
  font-size: 5rem;
  line-height: 6rem;
  margin: 2.5rem 0;
}
.col-2 > p {
  color: var(--text-color);
  font-size: 1.4rem;
  letter-spacing: 2px;
  border-left: 3px solid;
  padding-left: 1rem;
  border-color: pink;
  text-shadow: 1px 1px 5px #ccc;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 5rem 0;
}
.btn {
  display: inline-block;
  width: 18rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  background-color: var(--btn-color);
  color: #fff;
  text-align: center;
  margin: 2.5rem 0;
  border-radius: 999px;
  position: relative;
  z-index: 1;
}
.btn::after {
  content: "";
  width: 0;
  height: 100%;
  border-radius: inherit;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: width 0.3s linear;
}
.btn:hover::after {
  width: 100%;
}
.btn:hover {
  letter-spacing: 1px;
  color: #000;
}
.navbar__cart {
  width: 3rem;
  height: 3rem;
  opacity: 0.8;
}
.navbar__cart:hover {
  opacity: 1;
  cursor: pointer;
}
/* Header */

/* Categories */
.categories {
  margin: 7rem 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 3rem;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 5rem;
}
/* Categories */

/* Products */
.small-container__heading {
  text-align: center;
  font-size: 3rem;
  margin: 0 auto 8rem;
  line-height: 6rem;
  position: relative;
  color: var(--text-color);
}
.small-container__heading::before {
  content: "";
  width: 8rem;
  height: 4px;
  border-radius: 4px;
  background-color: var(--btn-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.col-4 {
  flex-basis: 25%;
  flex-grow: 1;
  padding: 1rem;
  min-width: 200px;
  margin-bottom: 5rem;
  text-align: center;
  transition: all 0.3s linear;
  position: relative;
}
.col-4 .box-cart--add {
  position: absolute;
  right: 12px;
  top: 88%;
  background-color: #ff9a8b32;
  border-radius: 6px 6px;
  font-size: 2.4rem;
  display: inline-block;
  padding: 6px;
  cursor: pointer;
}
.col-4:hover {
  transform: translateY(-5px);
}
.col-4 img {
  max-width: 100%;
  border-radius: 6px 6px 0 0;
}
.name {
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
}
.price {
  font-size: 1.6rem;
}
.content {
  background-color: var(--content-color);
  border-radius: 6px;
}
.rating {
  color: var(--btn-color);
}
.col-linked {
  color: #000;
}
/* Products */

/* Offer */
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin: 7rem 0;
  padding: 3rem 0;
}
.col-2 .offer__image {
  padding: 5rem;
}
small {
  color: var(--text-color);
}
/* Offer */

/* Testimonial */
.testimonial {
  padding-top: 10rem;
}
.testimonial .col-3 {
  text-align: center;
  padding: 4rem 2rem;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s linear;
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
  box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);

  cursor: pointer;
}
.testimonial .col-3 img {
  width: 5rem;
  border-radius: 999px;
  margin-top: 2rem;
  display: inline-block;
}
.testimonial .col-3 p {
  font-size: 1.4rem;
  margin: 1.2rem 0;
  color: var(--text-color);
}
.testimonial .quote-icon {
  color: var(--btn-color);
  font-size: 5rem;
}
.testimonial h3 {
  font-size: 2rem;
  font-weight: 600;
}
/* Testimonial */

/* Brands */
.brands {
  margin: 10rem auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  max-width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
/* Brands */

/* Footer */
.footer {
  background-color: #000;
  color: #a8a8a8;
  font-size: 1.4rem;
  padding: 6rem 0 2rem;
}
.footer p {
  color: #a8a8a8;
  padding-top: 1.5rem;
}
.footer h3 {
  color: #fff;
  font-size: 2rem;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 2rem;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 200px;
  margin-bottom: 2rem;
  display: inline-block;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
.footer-col-4 li a {
  padding-right: 1rem;
  color: #a8a8a8;
}
.footer-col-4 li:hover a {
  color: #fff;
}
.app-logo {
  margin-top: 2rem;
}
.app-logo img {
  width: 140px;
  display: inline-block;
  cursor: pointer;
}
.footer hr {
  border: none;
  background-color: #b5b5b5;
  height: 1px;
  margin: 2rem 0;
  width: 100%;
  display: block;
}
.copyright {
  text-align: center;
  font-size: 1.4rem;
}
/* Footer */

/* All Products */
.row-2 {
  align-items: center;
  justify-content: space-between;
  margin: 7.5rem auto 5rem;
}
.row-2 h2 {
  font-size: 2.5rem;
}
.row-2 .view-link {
  font-size: 1.8rem;
  color: var(--text-color);
  transition: all 0.3s ease-in;
}
.row-2 .view-link:hover {
  border-bottom: 1px solid #f4a;
  color: #000;
}
select {
  width: 9rem;
  text-align: center;
  font-size: 1.2rem;
  outline-color: var(--btn-color);
  border: 1px solid #000;
  border-radius: 2px;
  border-radius: 2px;
  margin-left: 1rem;
}
#select {
  border: 1px solid var(--btn-color);
  padding: 5px;
  font-size: 1.4rem;
  width: 19rem;
  cursor: pointer;
  font-family: inherit;
}
#select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 8rem;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff9a8b;
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.page-btn span:hover {
  background-color: #ff9a8b39;
}
/* All Products */

/* Single Product Details  */
.single-product {
  margin-top: 8rem;
}
.single-product .col-2 img {
  padding: 0;
}
.img-detail-two,
.img-detail-three,
.img-detail-four {
  --height: 450px;
  height: var(--height);
  object-fit: cover;
  object-position: center;
}
.img-detail-two--sub,
.img-detail-three--sub,
.img-detail-four--sub {
  --height: 108px;
  height: var(--height);
  object-fit: cover;
  object-position: center;
}
.single-product .col-2 {
  padding: 2rem;
}
.single-product h4 {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 1rem;
  margin-top: 2rem;
}
.single-product input {
  width: 5rem;
  height: 4rem;
  padding-left: 1rem;
  font-size: 2rem;
  margin-right: 1rem;
  border: 1px solid var(--btn-color);
}
.single-product input:focus {
  outline: none;
}
.single-product h3 {
  font-size: 2rem;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  padding-top: 5px;
}
.small-container > a {
  font-size: 1.4rem;
  color: #fff;
}
.small-container > a:hover {
  color: #000;
  font-weight: 500;
}
/* Single Product Details  */

/* Cart Item Details */
.cart-page {
  margin: 7rem auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.cart-info img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background-color: #faaca8;
  font-weight: bold;
  font-size: 1.6rem;
}
td {
  padding: 1rem 0.5rem;
  font-size: 1.4rem;
}
td input {
  width: 4rem;
  height: 3rem;
  padding: 5px;
}
td a {
  color: var(--btn-color);
  font-size: 1.4rem;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid var(--btn-color);
  width: 100%;
  max-width: 350px;
}
td:last-child {
  text-align: right;
}
small {
  font-size: 1.2rem;
}
/* Cart Item Details */

/* Cart Fixed */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 34rem;
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
  background-color: #fafafa;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.5s linear;
}
.cart.active {
  right: 0;
}
.cart-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  background-color: #cccccc38;
  border-radius: 4px;
}
.cart-img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  padding: 1rem;
  border-radius: 2.5rem;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
  font-size: 1.2rem;
}
.cart-quantity {
  width: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
  outline-color: var(--btn-color);
  border: 1px solid #000;
  border-radius: 2px;
}
.cart-remove {
  font-size: 2.4rem;
  color: var(--btn-color);
  cursor: pointer;
}
.cart-remove:hover {
  color: #ccc;
}
.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid #222;
  font-size: 1.4rem;
}
.total-title {
  font-weight: 600;
}
.total-prices {
  margin-left: 0.5rem;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 1.2rem 2rem;
  border: none;
  background-color: var(--btn-color);
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.4rem;
}
.btn-buy:hover {
  background-color: #2b1055;
}
#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
  padding: 8px;
}
/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Rated */
.stars {
  margin: 5px 0;
}
.stars li {
  display: inline-block;
  cursor: pointer;
}
.star {
  font-size: 2.2rem;
  color: #ccc;
}
.orange {
  color: #ea5455;
}
.output {
  padding: 5px;
  font-size: 1.6rem;
  color: #000;
  background-color: #ddd;
  border-radius: 6px;
}
/* Slider */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  object-position: center;
}
.slide.active {
  opacity: 1;
}
.controls {
  text-align: center;
  margin-top: 20px;
}
button {
  margin-right: 10px;
  border: 0;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  color: #000;
  cursor: pointer;
  transition: all 0.3s;
}
button:active {
  background-color: #ccc;
}
.arrow-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.arrow-left {
  left: 0;
  top: 200px;
  transform: translate(-50%, -50%);
}
.arrow-right {
  right: 0;
  top: 200px;
  transform: translate(50%, -50%);
}
/* Search */
.search {
  position: relative;
  height: 5rem;
  margin-bottom: 4rem;
}
.search .input {
  border: 0;
  width: 5rem;
  height: 5rem;
  background-color: #ccc;
  font-size: 1.8rem;
  padding: 1.5rem;
  transition: width 0.3s ease;
  border-radius: 4px 0 0 4px;
}
.btn-search {
  background-color: #ccc;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 4px;
  transition: transform 0.3s ease;
  padding: 0;
}
.input:focus,
.btn-search:focus {
  outline: none;
}
.search.active .input {
  width: 20rem;
}
.search.active .btn-search {
  transform: translateX(19.8rem);
}
/* Notify */
.noti {
  max-width: 100%;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 7px 30px 0 rgba(100, 100, 100, 0.6);
  display: flex;
  align-items: center;
  position: fixed;
  left: 15px;
  bottom: 15px;
  height: 130px;
  border-radius: 1rem;
  transform: translateY(150%);
  transition: all 0.3 ease;
  animation: noti linear 1 forwards 4s;
  overflow: hidden;
  z-index: 3;
}
.noti-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
}
@keyframes noti {
  20%,
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(150%);
  }
}
.noti-content {
  background-color: #fafafa;
  padding-left: 1rem;
}
.noti-content__title {
  font-size: 2rem;
}
.noti-link {
  color: #f59;
}
/* Highlight search */
.highlight {
  background-color: rgba(243, 255, 92, 0.8);
  color: #000;
}
